<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/안녕하세요/src/안녕하세요/안녕하세요.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="안녕하세요.안녕하세요"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="안녕하세요"/>
</launchConfiguration>
